.container {
    height: 100vh;
    width: 100% !important;
}

.row {
    height: 100%;
}

.divRow1 {
    width: 100%;
}

.imageConnect {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row1 {
    height: 30vh;
}

.row2 {
    height: 50vh;
}

.row3 {
    height: 20vh;
}

.row11 {
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
}

.imageLogo {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 40px;
}

.row12 {
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    
}

.divSlogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.divSlogan h5 {
    font-weight: 450;
}
.divSlogan h5 {
    margin-bottom: 10px;
}

.colSlogan {
    height: 100%;
}

.divInput {
    margin-top: 40px;
    margin-left: 3px;
}

.colne1 {
    
    height: 100%;
}

.colne3 {
    
    height: 100%;
}

.form {
    height: 40%;
}

.buttonConnect {
    width: 100%;
    height: 35px;
    background-color: #22C55E;
    color: aliceblue;
}

.buttonConnect:hover {
    color: rgb(246, 246, 246) !important;
    background-color: black !important;
}



