/* .imageLogo {
    height: 100% !important;
    width: 100% !important;
    border-radius: 10px;
}

.imageLogoCelectial {
    margin-top: 70px; 
    width: 120px;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px; 
    text-align: center;
}

h2 {
    font-size: 24px;
    text-align: center;
    margin-top: 8px; 
    margin-bottom: 10px; 
}

p {
    color: #556987;
    font-size: 16px;
    text-align: center;
    margin-top: 0px; 
    margin-bottom: 20px; 
}

.divInput {
    margin-top: 10px; 
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.options-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -25px; 
    margin-bottom: 30px; 
}

.forgot-link {
    color: #22C55E;
    text-decoration: none;
    padding-left: 10px; 
    margin-right: 10px; 
}

.inputtable {
    width: 400px;
    height: 35px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    margin-bottom: 10px;
}

.buttonConnect {
    width: 100%;
    height: 35px;
    background-color: #22C55E;
    color: aliceblue;
    border: none; 
    border-radius: 4px; 
    transition: background-color 0.3s ease; 
}

.buttonConnect:hover {
    color: rgb(246, 246, 246) !important;
    background-color: #1aab4d !important;
    text-decoration: none;
}

a {
    color: #22C55E;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: #1aab4d;
}
.hidden-checkbox{
    padding-right: 10px;
}

.options-row .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #22C55E !important; 
    border-color: #22C55E !important;      
}

.options-row .ant-checkbox-checked::after {
    border-color: #22C55E !important;     
} */





@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Space Grotesk';
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
    margin-bottom: 20px;
}

a {
	font-family: 'Space Grotesk';
	text-decoration: none;
    color: white;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

.ghost {
	background-color: #22C55E;
    border-radius: 20px;
	border: none;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 600;
	padding: 12px 45px;
	letter-spacing: 1px;
}
.ghost:hover {
    scale: 1.1;
    transition: 500ms;
}

.but-signin {
    background: #22C55E !important;
    border-radius: 20px;
	border: none;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 600;
	padding: 12px 45px;
	letter-spacing: 1px;
}
.but-signin:hover {
    scale: 1.1;
    transition: 500ms;
    box-shadow: 0px 4px 10px 3px #bfe2ca;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 30px;
	height: 100%;
	text-align: center;
}
.form-signup {
    width: 100%;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.inputtable {
    height: 37px;
    background-color: #eee;
    border: none;
    border-radius: 2px !important;
}
.inputtable:hover {
    transition: 500ms;
    background-color: #d6d6d6;
}

.ant-select-selector {
    background: none !important;
    border: none !important;
    font-family: 'Space Grotesk' !important;
}

.ant-input {
    font-size: 15px;
    font-family: 'Space Grotesk';
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
}

.overlay {
	background: linear-gradient(to left, #080D20, #81848f);
    background-repeat: no-repeat;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
}

.overlay-right {
	right: 0;
}